# Node.js
node_modules/
dist/
build/
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.pytest_cache/

# MacOS
.DS_Store

# IDEs
.vscode/
.idea/
